# All .cursor folders and all files within
**/.cursor/**

# All archive folders and all files within
**/archive/**

# All environment variable files
**/.env
**/.env.*

# All docs folders and all files within
/docs

# <--- AI Content Boundary
# <--- AI model has written all content below this line